In [8]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np

In [9]:
train = pd.read_csv("park_data/train_df.csv")
test = pd.read_csv("park_data/test_df.csv")
age_gender = pd.read_csv("park_data/age_gender_info.csv")
sub = pd.read_csv("park_data/sample_submission.csv")

In [10]:
train

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수,등록차량수
0,C2515,545,아파트,경상남도,국민임대,33.48,276,17.0,A,9216000,82940,0.0,3.0,624.0,205.0
1,C2515,545,아파트,경상남도,국민임대,39.60,60,17.0,A,12672000,107130,0.0,3.0,624.0,205.0
2,C2515,545,아파트,경상남도,국민임대,39.60,20,17.0,A,12672000,107130,0.0,3.0,624.0,205.0
3,C2515,545,아파트,경상남도,국민임대,46.90,38,17.0,A,18433000,149760,0.0,3.0,624.0,205.0
4,C2515,545,아파트,경상남도,국민임대,46.90,19,17.0,A,18433000,149760,0.0,3.0,624.0,205.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2864,C2532,239,아파트,강원도,국민임대,49.20,19,7.0,A,11346000,116090,0.0,1.0,166.0,146.0
2865,C2532,239,아파트,강원도,국민임대,51.08,34,7.0,A,14005000,142310,0.0,1.0,166.0,146.0
2866,C2532,239,아파트,강원도,국민임대,51.73,34,7.0,A,14005000,142310,0.0,1.0,166.0,146.0
2867,C2532,239,아파트,강원도,국민임대,51.96,114,7.0,A,14005000,142310,0.0,1.0,166.0,146.0
2868,C2532,239,아파트,강원도,국민임대,54.95,19,7.0,A,14830000,151030,0.0,1.0,166.0,146.0

In [11]:
test

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수
0,C1072,754,아파트,경기도,국민임대,39.79,116,14.0,H,22830000,189840,0.0,2.0,683.0
1,C1072,754,아파트,경기도,국민임대,46.81,30,14.0,A,36048000,249930,0.0,2.0,683.0
2,C1072,754,아파트,경기도,국민임대,46.90,112,14.0,H,36048000,249930,0.0,2.0,683.0
3,C1072,754,아파트,경기도,국민임대,46.90,120,14.0,H,36048000,249930,0.0,2.0,683.0
4,C1072,754,아파트,경기도,국민임대,51.46,60,14.0,H,43497000,296780,0.0,2.0,683.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1003,C1267,675,아파트,경상남도,행복주택,36.77,126,38.0,L,-,-,0.0,1.0,467.0
1004,C2189,382,아파트,전라북도,국민임대,29.19,96,45.0,H,6872000,106400,0.0,2.0,300.0
1005,C2189,382,아파트,전라북도,국민임대,29.19,20,45.0,H,6872000,106400,0.0,2.0,300.0
1006,C2189,382,아파트,전라북도,국민임대,39.45,202,45.0,H,13410000,144600,0.0,2.0,300.0
1007,C2189,382,아파트,전라북도,국민임대,46.23,60,45.0,H,18689000,166500,0.0,2.0,300.0

In [12]:
train.describe().T

,count,mean,std,min,25%,50%,75%,max
총세대수,2869.0,887.654235,517.795084,26.00,514.0,775.00,1105.00,2568.0
전용면적,2869.0,44.421394,32.072217,12.62,32.1,39.84,51.05,583.4
전용면적별세대수,2869.0,102.699895,133.287517,1.00,14.0,60.00,142.00,1865.0
공가수,2869.0,12.915999,10.679931,0.00,4.0,11.00,20.00,55.0
도보 10분거리 내 지하철역 수(환승노선 수 반영),2662.0,0.181818,0.432606,0.00,0.0,0.00,0.00,3.0
도보 10분거리 내 버스정류장 수,2869.0,3.709655,2.676486,0.00,2.0,3.00,4.00,20.0
단지내주차면수,2869.0,591.934472,391.292702,13.00,277.0,500.00,812.00,1798.0
등록차량수,2869.0,550.127571,430.465261,13.00,209.0,479.00,761.00,2550.0

In [13]:
test.describe().T

,count,mean,std,min,25%,50%,75%,max
총세대수,1008.0,869.378968,535.908018,75.00,492.50,754.00,1161.00,2572.0
전용면적,1008.0,43.788462,36.105647,9.96,33.15,39.72,47.41,583.4
전용면적별세대수,1008.0,101.093254,126.674450,1.00,14.00,60.00,140.00,1341.0
공가수,1008.0,15.630952,11.116013,0.00,6.00,16.00,23.00,45.0
도보 10분거리 내 지하철역 수(환승노선 수 반영),970.0,0.138144,0.437519,0.00,0.00,0.00,0.00,2.0
도보 10분거리 내 버스정류장 수,1008.0,4.597222,5.391566,1.00,2.00,3.00,5.00,50.0
단지내주차면수,1008.0,546.678571,341.278739,29.00,286.00,458.00,706.50,1696.0

### train 과 test 의 평균 & 편차가 큰차이는 없다.

In [14]:
columns =['임대건물구분','지역','공급유형','자격유형']

for i in columns:
    result = list(set(train[i].unique())-set(test[i].unique()))
    print('train - test 차집합:',i+":",result)

train - test 차집합: 임대건물구분: []
train - test 차집합: 지역: ['서울특별시']
train - test 차집합: 공급유형: ['공공임대(5년)', '공공분양', '장기전세']
train - test 차집합: 자격유형: ['B', 'O', 'F']

In [15]:
train.corr()

,총세대수,전용면적,전용면적별세대수,공가수,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수,등록차량수
총세대수,1.000000,0.037488,0.099209,0.069985,0.215184,-0.001086,0.520272,0.326923
전용면적,0.037488,1.000000,-0.033365,-0.079302,-0.009058,-0.004398,0.060190,0.106366
전용면적별세대수,0.099209,-0.033365,1.000000,0.162760,-0.057614,0.045899,0.288788,0.254948
공가수,0.069985,-0.079302,0.162760,1.000000,-0.096291,0.043096,0.303954,0.130775
도보 10분거리 내 지하철역 수(환승노선 수 반영),0.215184,-0.009058,-0.057614,-0.096291,1.000000,0.096585,-0.047127,-0.101792
도보 10분거리 내 버스정류장 수,-0.001086,-0.004398,0.045899,0.043096,0.096585,1.000000,0.078828,0.110977
단지내주차면수,0.520272,0.060190,0.288788,0.303954,-0.047127,0.078828,1.000000,0.856549
등록차량수,0.326923,0.106366,0.254948,0.130775,-0.101792,0.110977,0.856549,1.000000

### 등록차량수와 상관계수가 높은순 단지내주차면수 > 총세대수 > 전용면적별세대수

In [ ]:
train = train.loc[~(train['지역'] =='서울특별시'),:]
train

### train에만 있는 데이터 유형 값들 제거 vs 다른 값으로 대체

In [134]:
train = train.loc[~((train['공급유형'] =='공공분양')|(train['공급유형'] =='장기전세')|
                  (train['공급유형'] =='공공임대(5년)')),:]
test

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수
0,C1072,754,아파트,경기도,국민임대,39.79,116,14.0,H,22830000,189840,0.0,2.0,683.0
1,C1072,754,아파트,경기도,국민임대,46.81,30,14.0,A,36048000,249930,0.0,2.0,683.0
2,C1072,754,아파트,경기도,국민임대,46.90,112,14.0,H,36048000,249930,0.0,2.0,683.0
3,C1072,754,아파트,경기도,국민임대,46.90,120,14.0,H,36048000,249930,0.0,2.0,683.0
4,C1072,754,아파트,경기도,국민임대,51.46,60,14.0,H,43497000,296780,0.0,2.0,683.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1003,C1267,675,아파트,경상남도,행복주택,36.77,126,38.0,L,-,-,0.0,1.0,467.0
1004,C2189,382,아파트,전라북도,국민임대,29.19,96,45.0,H,6872000,106400,0.0,2.0,300.0
1005,C2189,382,아파트,전라북도,국민임대,29.19,20,45.0,H,6872000,106400,0.0,2.0,300.0
1006,C2189,382,아파트,전라북도,국민임대,39.45,202,45.0,H,13410000,144600,0.0,2.0,300.0
1007,C2189,382,아파트,전라북도,국민임대,46.23,60,45.0,H,18689000,166500,0.0,2.0,300.0

In [135]:
#'B', 'O', 'F'
train = train.loc[~((train['자격유형'] =='B')|(train['자격유형'] =='O')|
                  (train['자격유형'] =='F')),:]
train

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수,등록차량수
0,C2515,545,아파트,경상남도,국민임대,33.48,276,17.0,A,9216000,82940,0.0,3.0,624.0,205.0
1,C2515,545,아파트,경상남도,국민임대,39.60,60,17.0,A,12672000,107130,0.0,3.0,624.0,205.0
2,C2515,545,아파트,경상남도,국민임대,39.60,20,17.0,A,12672000,107130,0.0,3.0,624.0,205.0
3,C2515,545,아파트,경상남도,국민임대,46.90,38,17.0,A,18433000,149760,0.0,3.0,624.0,205.0
4,C2515,545,아파트,경상남도,국민임대,46.90,19,17.0,A,18433000,149760,0.0,3.0,624.0,205.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2864,C2532,239,아파트,강원도,국민임대,49.20,19,7.0,A,11346000,116090,0.0,1.0,166.0,146.0
2865,C2532,239,아파트,강원도,국민임대,51.08,34,7.0,A,14005000,142310,0.0,1.0,166.0,146.0
2866,C2532,239,아파트,강원도,국민임대,51.73,34,7.0,A,14005000,142310,0.0,1.0,166.0,146.0
2867,C2532,239,아파트,강원도,국민임대,51.96,114,7.0,A,14005000,142310,0.0,1.0,166.0,146.0
2868,C2532,239,아파트,강원도,국민임대,54.95,19,7.0,A,14830000,151030,0.0,1.0,166.0,146.0

## 빠진 데이터
### 지역 =서울특별시 : 50개 
### 공급유형 = '공공분양', '장기전세', '공공임대(5년)' : 10개
### 자역유형 = 'B', 'O', 'F' : 25개

In [136]:
train.columns = ['단지코드', '총세대수', '임대건물구분', '지역', '공급유형', '전용면적', '전용면적별세대수', '공가수',
       '자격유형', '임대보증금', '임대료', '지하철수',
       '버정수', '단지내주차면수', '등록차량수']

test.columns = ['단지코드', '총세대수', '임대건물구분', '지역', '공급유형', '전용면적', '전용면적별세대수', '공가수',
       '자격유형', '임대보증금', '임대료', '지하철수',
       '버정수', '단지내주차면수']

In [137]:
train.isnull().sum()

단지코드          0
총세대수          0
임대건물구분        0
지역            0
공급유형          0
전용면적          0
전용면적별세대수      0
공가수           0
자격유형          0
임대보증금       562
임대료         562
지하철수        200
버정수           0
단지내주차면수       0
등록차량수         0
dtype: int64

In [138]:
test.isnull().sum()

단지코드          0
총세대수          0
임대건물구분        0
지역            0
공급유형          0
전용면적          0
전용면적별세대수      0
공가수           0
자격유형          2
임대보증금       180
임대료         180
지하철수         38
버정수           0
단지내주차면수       0
dtype: int64

In [139]:
test[test['자격유형'].isnull()]

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,지하철수,버정수,단지내주차면수
196,C2411,962,아파트,경상남도,국민임대,46.90,240,25.0,NaN,71950000,37470,0.0,2.0,840.0
258,C2253,1161,아파트,강원도,영구임대,26.37,745,0.0,NaN,2249000,44770,0.0,2.0,173.0

In [140]:
test.loc[test['자격유형'].isnull() & test['단지코드'].isin(['C2411']) ,'자격유형'] = 'A'

In [141]:
test.loc[test['자격유형'].isnull() & test['단지코드'].isin(['C2253']) ,'자격유형'] = 'C'

In [142]:
test[test['자격유형'].isnull()]

Empty DataFrame
Columns: [단지코드, 총세대수, 임대건물구분, 지역, 공급유형, 전용면적, 전용면적별세대수, 공가수, 자격유형, 임대보증금, 임대료, 지하철수, 버정수, 단지내주차면수]
Index: []

### index값 맞춰주고

In [143]:
train

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,지하철수,버정수,단지내주차면수,등록차량수
0,C2515,545,아파트,경상남도,국민임대,33.48,276,17.0,A,9216000,82940,0.0,3.0,624.0,205.0
1,C2515,545,아파트,경상남도,국민임대,39.60,60,17.0,A,12672000,107130,0.0,3.0,624.0,205.0
2,C2515,545,아파트,경상남도,국민임대,39.60,20,17.0,A,12672000,107130,0.0,3.0,624.0,205.0
3,C2515,545,아파트,경상남도,국민임대,46.90,38,17.0,A,18433000,149760,0.0,3.0,624.0,205.0
4,C2515,545,아파트,경상남도,국민임대,46.90,19,17.0,A,18433000,149760,0.0,3.0,624.0,205.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2864,C2532,239,아파트,강원도,국민임대,49.20,19,7.0,A,11346000,116090,0.0,1.0,166.0,146.0
2865,C2532,239,아파트,강원도,국민임대,51.08,34,7.0,A,14005000,142310,0.0,1.0,166.0,146.0
2866,C2532,239,아파트,강원도,국민임대,51.73,34,7.0,A,14005000,142310,0.0,1.0,166.0,146.0
2867,C2532,239,아파트,강원도,국민임대,51.96,114,7.0,A,14005000,142310,0.0,1.0,166.0,146.0
2868,C2532,239,아파트,강원도,국민임대,54.95,19,7.0,A,14830000,151030,0.0,1.0,166.0,146.0

In [144]:
train.reset_index(inplace=True)
train

,index,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,지하철수,버정수,단지내주차면수,등록차량수
0,0,C2515,545,아파트,경상남도,국민임대,33.48,276,17.0,A,9216000,82940,0.0,3.0,624.0,205.0
1,1,C2515,545,아파트,경상남도,국민임대,39.60,60,17.0,A,12672000,107130,0.0,3.0,624.0,205.0
2,2,C2515,545,아파트,경상남도,국민임대,39.60,20,17.0,A,12672000,107130,0.0,3.0,624.0,205.0
3,3,C2515,545,아파트,경상남도,국민임대,46.90,38,17.0,A,18433000,149760,0.0,3.0,624.0,205.0
4,4,C2515,545,아파트,경상남도,국민임대,46.90,19,17.0,A,18433000,149760,0.0,3.0,624.0,205.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2779,2864,C2532,239,아파트,강원도,국민임대,49.20,19,7.0,A,11346000,116090,0.0,1.0,166.0,146.0
2780,2865,C2532,239,아파트,강원도,국민임대,51.08,34,7.0,A,14005000,142310,0.0,1.0,166.0,146.0
2781,2866,C2532,239,아파트,강원도,국민임대,51.73,34,7.0,A,14005000,142310,0.0,1.0,166.0,146.0
2782,2867,C2532,239,아파트,강원도,국민임대,51.96,114,7.0,A,14005000,142310,0.0,1.0,166.0,146.0
2783,2868,C2532,239,아파트,강원도,국민임대,54.95,19,7.0,A,14830000,151030,0.0,1.0,166.0,146.0

In [145]:
del train['index']

In [146]:
train

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,지하철수,버정수,단지내주차면수,등록차량수
0,C2515,545,아파트,경상남도,국민임대,33.48,276,17.0,A,9216000,82940,0.0,3.0,624.0,205.0
1,C2515,545,아파트,경상남도,국민임대,39.60,60,17.0,A,12672000,107130,0.0,3.0,624.0,205.0
2,C2515,545,아파트,경상남도,국민임대,39.60,20,17.0,A,12672000,107130,0.0,3.0,624.0,205.0
3,C2515,545,아파트,경상남도,국민임대,46.90,38,17.0,A,18433000,149760,0.0,3.0,624.0,205.0
4,C2515,545,아파트,경상남도,국민임대,46.90,19,17.0,A,18433000,149760,0.0,3.0,624.0,205.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2779,C2532,239,아파트,강원도,국민임대,49.20,19,7.0,A,11346000,116090,0.0,1.0,166.0,146.0
2780,C2532,239,아파트,강원도,국민임대,51.08,34,7.0,A,14005000,142310,0.0,1.0,166.0,146.0
2781,C2532,239,아파트,강원도,국민임대,51.73,34,7.0,A,14005000,142310,0.0,1.0,166.0,146.0
2782,C2532,239,아파트,강원도,국민임대,51.96,114,7.0,A,14005000,142310,0.0,1.0,166.0,146.0
2783,C2532,239,아파트,강원도,국민임대,54.95,19,7.0,A,14830000,151030,0.0,1.0,166.0,146.0

In [147]:
train[train['임대보증금'].isnull()]

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,지하철수,버정수,단지내주차면수,등록차량수
74,C1925,601,상가,강원도,임대상가,32.10,1,9.0,D,NaN,NaN,0.0,4.0,117.0,75.0
75,C1925,601,상가,강원도,임대상가,32.10,1,9.0,D,NaN,NaN,0.0,4.0,117.0,75.0
76,C1925,601,상가,강원도,임대상가,32.10,1,9.0,D,NaN,NaN,0.0,4.0,117.0,75.0
77,C1925,601,상가,강원도,임대상가,72.16,1,9.0,D,NaN,NaN,0.0,4.0,117.0,75.0
87,C1874,619,상가,충청남도,임대상가,12.62,1,2.0,D,NaN,NaN,NaN,2.0,97.0,62.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
817,C2571,481,상가,경상남도,임대상가,31.84,1,5.0,D,NaN,NaN,0.0,1.0,65.0,62.0
818,C2571,481,상가,경상남도,임대상가,31.84,1,5.0,D,NaN,NaN,0.0,1.0,65.0,62.0
819,C2571,481,상가,경상남도,임대상가,31.84,1,5.0,D,NaN,NaN,0.0,1.0,65.0,62.0
820,C2571,481,상가,경상남도,임대상가,31.84,1,5.0,D,NaN,NaN,0.0,1.0,65.0,62.0
821,C2571,481,상가,경상남도,임대상가,126.65,1,5.0,D,NaN,NaN,0.0,1.0,65.0,62.0

In [148]:
train[train['임대료'].isnull()]

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,지하철수,버정수,단지내주차면수,등록차량수
74,C1925,601,상가,강원도,임대상가,32.10,1,9.0,D,NaN,NaN,0.0,4.0,117.0,75.0
75,C1925,601,상가,강원도,임대상가,32.10,1,9.0,D,NaN,NaN,0.0,4.0,117.0,75.0
76,C1925,601,상가,강원도,임대상가,32.10,1,9.0,D,NaN,NaN,0.0,4.0,117.0,75.0
77,C1925,601,상가,강원도,임대상가,72.16,1,9.0,D,NaN,NaN,0.0,4.0,117.0,75.0
87,C1874,619,상가,충청남도,임대상가,12.62,1,2.0,D,NaN,NaN,NaN,2.0,97.0,62.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
817,C2571,481,상가,경상남도,임대상가,31.84,1,5.0,D,NaN,NaN,0.0,1.0,65.0,62.0
818,C2571,481,상가,경상남도,임대상가,31.84,1,5.0,D,NaN,NaN,0.0,1.0,65.0,62.0
819,C2571,481,상가,경상남도,임대상가,31.84,1,5.0,D,NaN,NaN,0.0,1.0,65.0,62.0
820,C2571,481,상가,경상남도,임대상가,31.84,1,5.0,D,NaN,NaN,0.0,1.0,65.0,62.0
821,C2571,481,상가,경상남도,임대상가,126.65,1,5.0,D,NaN,NaN,0.0,1.0,65.0,62.0

In [149]:
train.iloc[70:83,:]

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,지하철수,버정수,단지내주차면수,등록차량수
70,C2202,623,아파트,강원도,공공임대(50년),42.90,354,0.0,A,10244000,152280,0.0,2.0,222.0,226.0
71,C2202,623,아파트,강원도,공공임대(50년),49.44,180,0.0,A,11807000,171230,0.0,2.0,222.0,226.0
72,C1925,601,아파트,강원도,영구임대,26.37,298,9.0,C,8052000,130850,0.0,4.0,117.0,75.0
73,C1925,601,아파트,강원도,영구임대,31.32,298,9.0,C,9174000,144460,0.0,4.0,117.0,75.0
74,C1925,601,상가,강원도,임대상가,32.10,1,9.0,D,NaN,NaN,0.0,4.0,117.0,75.0
75,C1925,601,상가,강원도,임대상가,32.10,1,9.0,D,NaN,NaN,0.0,4.0,117.0,75.0
76,C1925,601,상가,강원도,임대상가,32.10,1,9.0,D,NaN,NaN,0.0,4.0,117.0,75.0
77,C1925,601,상가,강원도,임대상가,72.16,1,9.0,D,NaN,NaN,0.0,4.0,117.0,75.0
78,C2576,405,아파트,경상남도,국민임대,46.90,313,19.0,A,19436000,161780,0.0,4.0,296.0,73.0
79,C2576,405,아파트,경상남도,국민임대,59.88,92,19.0,A,28252000,235420,0.0,4.0,296.0,73.0
80,C1312,518,아파트,충청남도,국민임대,39.72,60,12.0,A,17460000,122210,NaN,3.0,527.0,359.0
81,C1312,518,아파트,충청남도,국민임대,39.98,89,12.0,A,17460000,122210,NaN,3.0,527.0,359.0
82,C1312,518,아파트,충청남도,국민임대,41.55,225,12.0,A,19954000,130940,NaN,3.0,527.0,359.0

In [150]:
test[test['임대보증금'].isnull()]

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,지하철수,버정수,단지내주차면수
76,C1006,1505,아파트,대전광역시,영구임대,26.37,10,27.0,D,NaN,NaN,2.0,5.0,428.0
77,C1006,1505,아파트,대전광역시,영구임대,26.37,10,27.0,D,NaN,NaN,2.0,5.0,428.0
79,C1006,1505,아파트,대전광역시,영구임대,52.74,6,27.0,D,NaN,NaN,2.0,5.0,428.0
80,C1006,1505,상가,대전광역시,임대상가,38.00,1,27.0,D,NaN,NaN,2.0,5.0,428.0
81,C1006,1505,상가,대전광역시,임대상가,38.00,1,27.0,D,NaN,NaN,2.0,5.0,428.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
328,C1729,627,상가,강원도,임대상가,32.46,1,0.0,D,NaN,NaN,0.0,5.0,131.0
329,C1729,627,상가,강원도,임대상가,34.86,1,0.0,D,NaN,NaN,0.0,5.0,131.0
330,C1729,627,상가,강원도,임대상가,35.76,1,0.0,D,NaN,NaN,0.0,5.0,131.0
331,C1729,627,상가,강원도,임대상가,50.08,1,0.0,D,NaN,NaN,0.0,5.0,131.0
332,C1729,627,상가,강원도,임대상가,240.22,1,0.0,D,NaN,NaN,0.0,5.0,131.0

In [151]:
test[test['임대료'].isnull()]

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,지하철수,버정수,단지내주차면수
76,C1006,1505,아파트,대전광역시,영구임대,26.37,10,27.0,D,NaN,NaN,2.0,5.0,428.0
77,C1006,1505,아파트,대전광역시,영구임대,26.37,10,27.0,D,NaN,NaN,2.0,5.0,428.0
79,C1006,1505,아파트,대전광역시,영구임대,52.74,6,27.0,D,NaN,NaN,2.0,5.0,428.0
80,C1006,1505,상가,대전광역시,임대상가,38.00,1,27.0,D,NaN,NaN,2.0,5.0,428.0
81,C1006,1505,상가,대전광역시,임대상가,38.00,1,27.0,D,NaN,NaN,2.0,5.0,428.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
328,C1729,627,상가,강원도,임대상가,32.46,1,0.0,D,NaN,NaN,0.0,5.0,131.0
329,C1729,627,상가,강원도,임대상가,34.86,1,0.0,D,NaN,NaN,0.0,5.0,131.0
330,C1729,627,상가,강원도,임대상가,35.76,1,0.0,D,NaN,NaN,0.0,5.0,131.0
331,C1729,627,상가,강원도,임대상가,50.08,1,0.0,D,NaN,NaN,0.0,5.0,131.0
332,C1729,627,상가,강원도,임대상가,240.22,1,0.0,D,NaN,NaN,0.0,5.0,131.0

In [152]:
train.loc[train.임대보증금=='-', '임대보증금'] = np.nan
test.loc[test.임대보증금=='-', '임대보증금'] = np.nan
train['임대보증금'] = train['임대보증금'].astype(float)
test['임대보증금'] = test['임대보증금'].astype(float)

train.loc[train.임대료=='-', '임대료'] = np.nan
test.loc[test.임대료=='-', '임대료'] = np.nan
train['임대료'] = train['임대료'].astype(float)
test['임대료'] = test['임대료'].astype(float)

In [153]:
train[['임대보증금', '임대료']] = train[['임대보증금', '임대료']].fillna(0)
test[['임대보증금', '임대료']] = test[['임대보증금', '임대료']].fillna(0)

In [154]:
train[['지하철수']] = train[['지하철수']].fillna(0)
test[['지하철수']] = test[['지하철수']].fillna(0)

In [155]:
train.isnull().sum()

단지코드        0
총세대수        0
임대건물구분      0
지역          0
공급유형        0
전용면적        0
전용면적별세대수    0
공가수         0
자격유형        0
임대보증금       0
임대료         0
지하철수        0
버정수         0
단지내주차면수     0
등록차량수       0
dtype: int64

In [156]:
test.isnull().sum()

단지코드        0
총세대수        0
임대건물구분      0
지역          0
공급유형        0
전용면적        0
전용면적별세대수    0
공가수         0
자격유형        0
임대보증금       0
임대료         0
지하철수        0
버정수         0
단지내주차면수     0
dtype: int64

In [157]:
train

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,지하철수,버정수,단지내주차면수,등록차량수
0,C2515,545,아파트,경상남도,국민임대,33.48,276,17.0,A,9216000.0,82940.0,0.0,3.0,624.0,205.0
1,C2515,545,아파트,경상남도,국민임대,39.60,60,17.0,A,12672000.0,107130.0,0.0,3.0,624.0,205.0
2,C2515,545,아파트,경상남도,국민임대,39.60,20,17.0,A,12672000.0,107130.0,0.0,3.0,624.0,205.0
3,C2515,545,아파트,경상남도,국민임대,46.90,38,17.0,A,18433000.0,149760.0,0.0,3.0,624.0,205.0
4,C2515,545,아파트,경상남도,국민임대,46.90,19,17.0,A,18433000.0,149760.0,0.0,3.0,624.0,205.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2779,C2532,239,아파트,강원도,국민임대,49.20,19,7.0,A,11346000.0,116090.0,0.0,1.0,166.0,146.0
2780,C2532,239,아파트,강원도,국민임대,51.08,34,7.0,A,14005000.0,142310.0,0.0,1.0,166.0,146.0
2781,C2532,239,아파트,강원도,국민임대,51.73,34,7.0,A,14005000.0,142310.0,0.0,1.0,166.0,146.0
2782,C2532,239,아파트,강원도,국민임대,51.96,114,7.0,A,14005000.0,142310.0,0.0,1.0,166.0,146.0
2783,C2532,239,아파트,강원도,국민임대,54.95,19,7.0,A,14830000.0,151030.0,0.0,1.0,166.0,146.0

In [158]:
train.자격유형.unique(),test.자격유형.unique()

(array(['A', 'C', 'D', 'E', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N'],
       dtype=object),
 array(['H', 'A', 'E', 'C', 'D', 'G', 'I', 'J', 'K', 'L', 'M', 'N'],
       dtype=object))

In [159]:
mapping = { 'A':1, 'C':2, 'D':3, 'E':4,
            'G':5, 'H':6, 'I':7, 'J':8,
            'K':9, 'L':10, 'M':11, 'N':12  }
train['자격유형'] =train['자격유형'].map(mapping).astype(int)
test['자격유형'] =test['자격유형'].map(mapping).astype(int)

In [160]:
train.지역.unique(),test.지역.unique()

(array(['경상남도', '대전광역시', '전라북도', '경기도', '강원도', '광주광역시', '충청남도', '부산광역시',
        '제주특별자치도', '울산광역시', '충청북도', '전라남도', '경상북도', '대구광역시', '세종특별자치시'],
       dtype=object),
 array(['경기도', '부산광역시', '전라북도', '경상남도', '충청남도', '대전광역시', '제주특별자치도', '강원도',
        '울산광역시', '경상북도', '충청북도', '광주광역시', '전라남도', '대구광역시', '세종특별자치시'],
       dtype=object))

In [161]:
map_region = {'경상북도':1, '경상남도':2, '대전광역시':3, '경기도':4, '전라북도':5,
              '강원도':6, '광주광역시':7, '충청남도':8, '부산광역시':9, '제주특별자치도':10,
            '울산광역시':11, '충청북도':12, '전라남도':13, '대구광역시':14, '세종특별자치시':15}
train["지역"] = train['지역'].map(map_region).astype(int)
test["지역"] = test['지역'].map(map_region).astype(int)

In [162]:
train.공급유형.unique(),test.공급유형.unique()

(array(['국민임대', '공공임대(50년)', '영구임대', '임대상가', '공공임대(10년)', '공공임대(분납)',
        '행복주택'], dtype=object),
 array(['국민임대', '영구임대', '임대상가', '공공임대(50년)', '공공임대(10년)', '공공임대(분납)',
        '행복주택'], dtype=object))

In [163]:
map3 = {'국민임대':1, '공공임대(50년)':2, '영구임대':3, '임대상가':4, '공공임대(10년)':5,
              '공공임대(분납)':6, '행복주택':7}
train["공급유형"] = train['공급유형'].map(map3).astype(int)
test["공급유형"] = test['공급유형'].map(map3).astype(int)

In [164]:
train.임대건물구분.unique(),test.임대건물구분.unique()

(array(['아파트', '상가'], dtype=object), array(['아파트', '상가'], dtype=object))

In [165]:
map4 = {'아파트':1, '상가':2}
train["임대건물구분"] = train['임대건물구분'].map(map4).astype(int)
test["임대건물구분"] = test['임대건물구분'].map(map4).astype(int)

In [167]:
test

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,지하철수,버정수,단지내주차면수
0,C1072,754,1,4,1,39.79,116,14.0,6,22830000.0,189840.0,0.0,2.0,683.0
1,C1072,754,1,4,1,46.81,30,14.0,1,36048000.0,249930.0,0.0,2.0,683.0
2,C1072,754,1,4,1,46.90,112,14.0,6,36048000.0,249930.0,0.0,2.0,683.0
3,C1072,754,1,4,1,46.90,120,14.0,6,36048000.0,249930.0,0.0,2.0,683.0
4,C1072,754,1,4,1,51.46,60,14.0,6,43497000.0,296780.0,0.0,2.0,683.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1003,C1267,675,1,2,7,36.77,126,38.0,10,0.0,0.0,0.0,1.0,467.0
1004,C2189,382,1,5,1,29.19,96,45.0,6,6872000.0,106400.0,0.0,2.0,300.0
1005,C2189,382,1,5,1,29.19,20,45.0,6,6872000.0,106400.0,0.0,2.0,300.0
1006,C2189,382,1,5,1,39.45,202,45.0,6,13410000.0,144600.0,0.0,2.0,300.0
1007,C2189,382,1,5,1,46.23,60,45.0,6,18689000.0,166500.0,0.0,2.0,300.0

In [19]:
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Lasso
from sklearn.linear_model import Ridge

In [21]:
#'총세대수', '전용면적', '전용면적별세대수','임대건물구분','지역',
#'공급유형', '공가수','지하철수','자격유형', '버정수', '임대보증금','임대료','단지내주차면수'
sel = [ '총세대수', '전용면적별세대수', '전용면적','임대건물구분','지역',
        '공급유형', '공가수','지하철수','자격유형', '버정수',
        '임대보증금','임대료','단지내주차면수']

X_train = train[sel]
y_train = train['등록차량수']
X_test = test[sel]

KeyError: "['지하철수', '버정수'] not in index"

### 선형회귀

In [172]:
model = LinearRegression()
model.fit(X_train, y_train)
pred = model.predict(X_test)

print("학습(score) :", model.score(X_train, y_train) ) # 결정계수

학습(score) : 0.803016143711775

In [190]:
model = Lasso(alpha=0.1)
model.fit(X_train, y_train)
pred = model.predict(X_test)

print("학습(score) :", model.score(X_train, y_train) ) # 결정계수

학습(score) : 0.8030294246725975

In [186]:
alpha_p = [0, 0.00001, 0.0001, 0.001, 0.01, 0.1, 1, 5, 10]

for p in alpha_p:
    lasso = Lasso(alpha=p).fit(X_train, y_train)
    tr_score = lasso.score(X_train, y_train)
    print("alpha : {} 학습 : {}".format(p,tr_score))
    print("유효한 feature 개수 : ", np.sum(lasso.coef_ !=0))

alpha : 0 학습 : 0.8030315827384268
유효한 feature 개수 :  13
alpha : 1e-05 학습 : 0.8030315827384052
유효한 feature 개수 :  13
alpha : 0.0001 학습 : 0.8030315827362687
유효한 feature 개수 :  13
alpha : 0.001 학습 : 0.8030315825226202
유효한 feature 개수 :  13
alpha : 0.01 학습 : 0.803031561157768
유효한 feature 개수 :  13
alpha : 0.1 학습 : 0.8030294246725975
유효한 feature 개수 :  13
alpha : 1 학습 : 0.8029457661658495
유효한 feature 개수 :  12
alpha : 5 학습 : 0.8018769088854443
유효한 feature 개수 :  12
alpha : 10 학습 : 0.7988182606928171
유효한 feature 개수 :  11

<ipython-input-186-94d9d9441cb8>:4: UserWarning: With alpha=0, this algorithm does not converge well. You are advised to use the LinearRegression estimator
  lasso = Lasso(alpha=p).fit(X_train, y_train)
C:\Users\wnsau\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: UserWarning: Coordinate descent with no regularization may lead to unexpected results and is discouraged.
  model = cd_fast.enet_coordinate_descent(
C:\Users\wnsau\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 49870968.531511664, tolerance: 50638.54319881466
  model = cd_fast.enet_coordinate_descent(

In [20]:
model = Ridge(alpha=10)
model.fit(X_train, y_train)
pred = model.predict(X_test)

print("학습(score) :", model.score(X_train, y_train) ) # 결정계수

NameError: name 'X_train' is not defined

In [188]:
alpha_p = [0, 0.00001, 0.0001, 0.001, 0.01, 0.1, 1, 5, 10]

for p in alpha_p:
    ridge = Ridge(alpha=p).fit(X_train, y_train)
    tr_score = ridge.score(X_train, y_train)
    print("alpha : {} 학습 : {}".format(p,tr_score))

C:\Users\wnsau\anaconda3\lib\site-packages\sklearn\linear_model\_ridge.py:147: LinAlgWarning: Ill-conditioned matrix (rcond=1.0772e-16): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True,

alpha : 0 학습 : 0.8030315827384268
alpha : 1e-05 학습 : 0.8030315827384268
alpha : 0.0001 학습 : 0.8030315827384266
alpha : 0.001 학습 : 0.803031582738406
alpha : 0.01 학습 : 0.803031582736358
alpha : 0.1 학습 : 0.8030315825316734
alpha : 1 학습 : 0.8030315621904172
alpha : 5 학습 : 0.8030310826618762
alpha : 10 학습 : 0.8030296461648203

C:\Users\wnsau\anaconda3\lib\site-packages\sklearn\linear_model\_ridge.py:147: LinAlgWarning: Ill-conditioned matrix (rcond=1.07721e-16): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True,
C:\Users\wnsau\anaconda3\lib\site-packages\sklearn\linear_model\_ridge.py:147: LinAlgWarning: Ill-conditioned matrix (rcond=1.07721e-16): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True,
C:\Users\wnsau\anaconda3\lib\site-packages\sklearn\linear_model\_ridge.py:147: LinAlgWarning: Ill-conditioned matrix (rcond=1.07721e-16): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True,
C:\Users\wnsau\anaconda3\lib\site-packages\sklearn\linear_model\_ridge.py:147: LinAlgWarning: Ill-conditioned matrix (rcond=1.0773e-16): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True,
C:\Users\wnsau\anaconda3\lib\site-packages\sklearn\linear_model\_ridge.py:147: LinAlgWarning: Ill-conditioned matrix (rcond=1.07818e-16): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True,
C:\Users\wnsau\anaconda3\lib\site-packages\sklearn\linear_model\_ridge.py:147: LinAlgWarning: Ill-conditioned matrix (rcond=1.08695e-16): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True,

In [18]:
pred

NameError: name 'pred' is not defined

In [ ]:
test['등록차량수'] = pred
test['코드별차량수평균'] = test.groupby('단지코드')['등록차량수'].transform(np.mean)
test_new = test.drop_duplicates(['단지코드'], keep='first').reset_index()
test_new

In [193]:
sub_df = test_new[ ['단지코드', '코드별차량수평균']]
sub_df.columns = ['code', 'num']
sub_df

      code          num
0    C1072   662.529288
1    C1128  1153.577871
2    C1456   649.635608
3    C1840   534.450811
4    C1332  1057.085952
..     ...          ...
142  C2456   237.967557
143  C1266   442.888587
144  C2152     2.637296
145  C1267   215.500898
146  C2189    70.843015

[147 rows x 2 columns]

In [194]:
sub_df = sub_df.append({'code':'C2675','num': 0}, ignore_index=True)
sub_df = sub_df.append({'code':'C2335','num': 0}, ignore_index=True)
sub_df = sub_df.append({'code':'C1327','num': 0}, ignore_index=True)
sub_df.tail()

      code         num
145  C1267  215.500898
146  C2189   70.843015
147  C2675    0.000000
148  C2335    0.000000
149  C1327    0.000000

In [195]:
sub_df.to_csv('0720_third_model.csv', index=False)