In [3]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np

In [4]:
train = pd.read_csv("park_data/train_df.csv")
test = pd.read_csv("park_data/test_df.csv")
age_gender = pd.read_csv("park_data/age_gender_info.csv")
sub = pd.read_csv("park_data/sample_submission.csv")

In [5]:
train

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수,등록차량수
0,C2515,545,아파트,경상남도,국민임대,33.48,276,17.0,A,9216000,82940,0.0,3.0,624.0,205.0
1,C2515,545,아파트,경상남도,국민임대,39.60,60,17.0,A,12672000,107130,0.0,3.0,624.0,205.0
2,C2515,545,아파트,경상남도,국민임대,39.60,20,17.0,A,12672000,107130,0.0,3.0,624.0,205.0
3,C2515,545,아파트,경상남도,국민임대,46.90,38,17.0,A,18433000,149760,0.0,3.0,624.0,205.0
4,C2515,545,아파트,경상남도,국민임대,46.90,19,17.0,A,18433000,149760,0.0,3.0,624.0,205.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2864,C2532,239,아파트,강원도,국민임대,49.20,19,7.0,A,11346000,116090,0.0,1.0,166.0,146.0
2865,C2532,239,아파트,강원도,국민임대,51.08,34,7.0,A,14005000,142310,0.0,1.0,166.0,146.0
2866,C2532,239,아파트,강원도,국민임대,51.73,34,7.0,A,14005000,142310,0.0,1.0,166.0,146.0
2867,C2532,239,아파트,강원도,국민임대,51.96,114,7.0,A,14005000,142310,0.0,1.0,166.0,146.0
2868,C2532,239,아파트,강원도,국민임대,54.95,19,7.0,A,14830000,151030,0.0,1.0,166.0,146.0

In [6]:
test

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수
0,C1072,754,아파트,경기도,국민임대,39.79,116,14.0,H,22830000,189840,0.0,2.0,683.0
1,C1072,754,아파트,경기도,국민임대,46.81,30,14.0,A,36048000,249930,0.0,2.0,683.0
2,C1072,754,아파트,경기도,국민임대,46.90,112,14.0,H,36048000,249930,0.0,2.0,683.0
3,C1072,754,아파트,경기도,국민임대,46.90,120,14.0,H,36048000,249930,0.0,2.0,683.0
4,C1072,754,아파트,경기도,국민임대,51.46,60,14.0,H,43497000,296780,0.0,2.0,683.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1003,C1267,675,아파트,경상남도,행복주택,36.77,126,38.0,L,-,-,0.0,1.0,467.0
1004,C2189,382,아파트,전라북도,국민임대,29.19,96,45.0,H,6872000,106400,0.0,2.0,300.0
1005,C2189,382,아파트,전라북도,국민임대,29.19,20,45.0,H,6872000,106400,0.0,2.0,300.0
1006,C2189,382,아파트,전라북도,국민임대,39.45,202,45.0,H,13410000,144600,0.0,2.0,300.0
1007,C2189,382,아파트,전라북도,국민임대,46.23,60,45.0,H,18689000,166500,0.0,2.0,300.0

In [7]:
age_gender

,지역,10대미만(여자),10대미만(남자),10대(여자),10대(남자),20대(여자),20대(남자),30대(여자),30대(남자),40대(여자),...,60대(여자),60대(남자),70대(여자),70대(남자),80대(여자),80대(남자),90대(여자),90대(남자),100대(여자),100대(남자)
0,경상북도,0.030158,0.033195,0.056346,0.061360,0.060096,0.067859,0.053433,0.049572,0.083660,...,0.082684,0.063889,0.047717,0.030172,0.029361,0.011211,0.005578,0.001553,0.000234,0.000014
1,경상남도,0.027400,0.026902,0.053257,0.055568,0.064920,0.070618,0.056414,0.057550,0.077092,...,0.087201,0.069562,0.048357,0.033277,0.027361,0.011295,0.004910,0.001086,0.000179,0.000010
2,대전광역시,0.028197,0.029092,0.040490,0.042793,0.060834,0.064247,0.068654,0.066848,0.074667,...,0.088468,0.070261,0.051010,0.037143,0.032455,0.013751,0.006494,0.001740,0.000298,0.000066
3,경기도,0.038030,0.039507,0.052546,0.053990,0.058484,0.059894,0.072331,0.068704,0.083208,...,0.074237,0.058419,0.042422,0.032725,0.025136,0.012354,0.005390,0.001707,0.000290,0.000067
4,전라북도,0.028089,0.029065,0.059685,0.060080,0.066262,0.070322,0.052027,0.046596,0.077005,...,0.076636,0.068042,0.051025,0.035748,0.035049,0.012641,0.007223,0.001898,0.000158,0.000013
5,강원도,0.028888,0.030682,0.051287,0.052712,0.060374,0.063157,0.059821,0.054321,0.076201,...,0.088423,0.070014,0.047732,0.032760,0.033515,0.013027,0.007628,0.001677,0.000319,0.000017
6,광주광역시,0.031994,0.034566,0.049851,0.050254,0.065084,0.066875,0.066888,0.064416,0.080028,...,0.075930,0.059586,0.048552,0.031754,0.029749,0.010341,0.006343,0.000895,0.000353,0.000013
7,충청남도,0.031369,0.031711,0.059077,0.062422,0.067975,0.072622,0.065095,0.067303,0.078860,...,0.070278,0.057692,0.042296,0.028682,0.024514,0.010900,0.005429,0.001549,0.000219,0.000123
8,부산광역시,0.022003,0.022947,0.032681,0.035512,0.053796,0.057233,0.047049,0.048866,0.061952,...,0.109297,0.085294,0.078743,0.053388,0.047908,0.020228,0.008043,0.002240,0.000268,0.000028
9,제주특별자치도,0.034690,0.036695,0.060094,0.063080,0.069135,0.069667,0.050808,0.048026,0.080548,...,0.074248,0.055717,0.047944,0.033054,0.026836,0.011332,0.006832,0.000982,0.000368,0.000082
10,울산광역시,0.023991,0.025997,0.053874,0.056967,0.064240,0.074689,0.052830,0.052412,0.078450,...,0.096422,0.069088,0.052913,0.039413,0.026540,0.011912,0.004221,0.001087,0.000084,0.000000
11,충청북도,0.034678,0.035339,0.059808,0.061570,0.060824,0.064937,0.061069,0.056625,0.082318,...,0.075390,0.062427,0.041814,0.027566,0.027762,0.011212,0.005386,0.001310,0.000257,0.000037
12,전라남도,0.031930,0.034647,0.059154,0.063379,0.065517,0.070339,0.057977,0.053471,0.078358,...,0.071465,0.062352,0.042535,0.030704,0.027340,0.009312,0.005965,0.001458,0.000149,0.000464
13,대구광역시,0.023765,0.025626,0.034098,0.037897,0.062559,0.068251,0.061825,0.071207,0.070090,...,0.094511,0.073133,0.055914,0.036572,0.031887,0.012556,0.005364,0.001259,0.000219,0.000000
14,서울특별시,0.015323,0.015627,0.025210,0.026121,0.052712,0.056782,0.047655,0.051877,0.054216,...,0.119639,0.078939,0.097543,0.061050,0.047853,0.023463,0.011344,0.003326,0.000532,0.000152
15,세종특별자치시,0.037159,0.036601,0.053172,0.050047,0.079284,0.064833,0.106121,0.104447,0.075155,...,0.065279,0.051163,0.026056,0.026223,0.013893,0.007086,0.003459,0.001004,0.000279,0.000112

In [8]:
train.shape, test.shape, age_gender.shape

((2869, 15), (1008, 14), (16, 23))

In [9]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2869 entries, 0 to 2868
Data columns (total 15 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   단지코드                          2869 non-null   object
 1   총세대수                          2869 non-null   int64
 2   임대건물구분                        2869 non-null   object
 3   지역                            2869 non-null   object
 4   공급유형                          2869 non-null   object
 5   전용면적                          2869 non-null   float64
 6   전용면적별세대수                      2869 non-null   int64
 7   공가수                           2869 non-null   float64
 8   자격유형                          2869 non-null   object
 9   임대보증금                         2300 non-null   object
 10  임대료                           2300 non-null   object
 11  도보 10분거리 내 지하철역 수(환승노선 수 반영)  2662 non-null   float64
 12  도보 10분거리 내 버스정류장 수            2869 non-null   float64
 13  단지내주차면수                       2869 non-null   float64
 14  등록차량수                         2869 non-null   float64
dtypes: float64(6), int64(2), object(7)
memory usage: 336.3+ KB

In [10]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1008 entries, 0 to 1007
Data columns (total 14 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   단지코드                          1008 non-null   object
 1   총세대수                          1008 non-null   int64
 2   임대건물구분                        1008 non-null   object
 3   지역                            1008 non-null   object
 4   공급유형                          1008 non-null   object
 5   전용면적                          1008 non-null   float64
 6   전용면적별세대수                      1008 non-null   int64
 7   공가수                           1008 non-null   float64
 8   자격유형                          1006 non-null   object
 9   임대보증금                         828 non-null    object
 10  임대료                           828 non-null    object
 11  도보 10분거리 내 지하철역 수(환승노선 수 반영)  970 non-null    float64
 12  도보 10분거리 내 버스정류장 수            1008 non-null   float64
 13  단지내주차면수                       1008 non-null   float64
dtypes: float64(5), int64(2), object(7)
memory usage: 110.4+ KB

In [11]:
train.isnull().sum()

단지코드                              0
총세대수                              0
임대건물구분                            0
지역                                0
공급유형                              0
전용면적                              0
전용면적별세대수                          0
공가수                               0
자격유형                              0
임대보증금                           569
임대료                             569
도보 10분거리 내 지하철역 수(환승노선 수 반영)    207
도보 10분거리 내 버스정류장 수                0
단지내주차면수                           0
등록차량수                             0
dtype: int64

In [12]:
test.isnull().sum()

단지코드                              0
총세대수                              0
임대건물구분                            0
지역                                0
공급유형                              0
전용면적                              0
전용면적별세대수                          0
공가수                               0
자격유형                              2
임대보증금                           180
임대료                             180
도보 10분거리 내 지하철역 수(환승노선 수 반영)     38
도보 10분거리 내 버스정류장 수                0
단지내주차면수                           0
dtype: int64

### 컬럼명 변경

In [13]:
train.columns = ['단지코드', '총세대수', '임대건물구분', '지역', '공급유형', '전용면적', '전용면적별세대수', '공가수',
       '자격유형', '임대보증금', '임대료', '지하철수',
       '버정수', '단지내주차면수', '등록차량수']

test.columns = ['단지코드', '총세대수', '임대건물구분', '지역', '공급유형', '전용면적', '전용면적별세대수', '공가수',
       '자격유형', '임대보증금', '임대료', '지하철수',
       '버정수', '단지내주차면수']

### 임대보증금 '-' 인 값을 null값으로 바꿔주고 
### (임대보증금,임대료) type변경 -> float

In [14]:
train.loc[train.임대보증금=='-', '임대보증금'] = np.nan
test.loc[test.임대보증금=='-', '임대보증금'] = np.nan
train['임대보증금'] = train['임대보증금'].astype(float)
test['임대보증금'] = test['임대보증금'].astype(float)

train.loc[train.임대료=='-', '임대료'] = np.nan
test.loc[test.임대료=='-', '임대료'] = np.nan
train['임대료'] = train['임대료'].astype(float)
test['임대료'] = test['임대료'].astype(float)

### (임대보증금, 임대료) 결측값 -> 0으로 대체

In [15]:
train[['임대보증금', '임대료']] = train[['임대보증금', '임대료']].fillna(0)
test[['임대보증금', '임대료']] = test[['임대보증금', '임대료']].fillna(0)

In [16]:
train.isnull().sum()

단지코드          0
총세대수          0
임대건물구분        0
지역            0
공급유형          0
전용면적          0
전용면적별세대수      0
공가수           0
자격유형          0
임대보증금         0
임대료           0
지하철수        207
버정수           0
단지내주차면수       0
등록차량수         0
dtype: int64

In [17]:
test.isnull().sum()

단지코드         0
총세대수         0
임대건물구분       0
지역           0
공급유형         0
전용면적         0
전용면적별세대수     0
공가수          0
자격유형         2
임대보증금        0
임대료          0
지하철수        38
버정수          0
단지내주차면수      0
dtype: int64

In [18]:
train[train.지하철수.isnull()]

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,지하철수,버정수,단지내주차면수,등록차량수
86,C1312,518,아파트,충청남도,국민임대,39.72,60,12.0,A,17460000.0,122210.0,NaN,3.0,527.0,359.0
87,C1312,518,아파트,충청남도,국민임대,39.98,89,12.0,A,17460000.0,122210.0,NaN,3.0,527.0,359.0
88,C1312,518,아파트,충청남도,국민임대,41.55,225,12.0,A,19954000.0,130940.0,NaN,3.0,527.0,359.0
89,C1312,518,아파트,충청남도,국민임대,46.90,143,12.0,A,28687000.0,149660.0,NaN,3.0,527.0,359.0
90,C1874,619,아파트,충청남도,영구임대,26.37,294,2.0,C,3141000.0,69900.0,NaN,2.0,97.0,62.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2292,C1350,1401,아파트,대전광역시,공공임대(10년),59.91,13,2.0,A,37474000.0,519350.0,NaN,6.0,1636.0,2315.0
2293,C1350,1401,아파트,대전광역시,공공임대(10년),59.92,223,2.0,A,37385000.0,516130.0,NaN,6.0,1636.0,2315.0
2294,C1350,1401,아파트,대전광역시,공공임대(분납),51.99,146,2.0,A,54612000.0,131130.0,NaN,6.0,1636.0,2315.0
2295,C1350,1401,아파트,대전광역시,공공임대(분납),59.91,32,2.0,A,63585000.0,152680.0,NaN,6.0,1636.0,2315.0
2296,C1350,1401,아파트,대전광역시,공공임대(분납),59.92,170,2.0,A,63501000.0,152480.0,NaN,6.0,1636.0,2315.0

In [19]:
train['지하철수'] = train['지하철수'].fillna(0)
test['지하철수'] = test['지하철수'].fillna(0)

In [20]:
train.isnull().sum()

단지코드        0
총세대수        0
임대건물구분      0
지역          0
공급유형        0
전용면적        0
전용면적별세대수    0
공가수         0
자격유형        0
임대보증금       0
임대료         0
지하철수        0
버정수         0
단지내주차면수     0
등록차량수       0
dtype: int64

In [21]:
test.isnull().sum()

단지코드        0
총세대수        0
임대건물구분      0
지역          0
공급유형        0
전용면적        0
전용면적별세대수    0
공가수         0
자격유형        2
임대보증금       0
임대료         0
지하철수        0
버정수         0
단지내주차면수     0
dtype: int64

In [22]:
test[test['자격유형'].isnull()]

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,지하철수,버정수,단지내주차면수
196,C2411,962,아파트,경상남도,국민임대,46.90,240,25.0,NaN,71950000.0,37470.0,0.0,2.0,840.0
258,C2253,1161,아파트,강원도,영구임대,26.37,745,0.0,NaN,2249000.0,44770.0,0.0,2.0,173.0

In [23]:
test[test['단지코드'] =='C2411']

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,지하철수,버정수,단지내주차면수
193,C2411,962,아파트,경상남도,국민임대,39.43,56,25.0,A,11992000.0,100720.0,0.0,2.0,840.0
194,C2411,962,아파트,경상남도,국민임대,39.72,336,25.0,A,11992000.0,100720.0,0.0,2.0,840.0
195,C2411,962,아파트,경상남도,국민임대,39.82,179,25.0,A,11992000.0,100720.0,0.0,2.0,840.0
196,C2411,962,아파트,경상남도,국민임대,46.90,240,25.0,NaN,71950000.0,37470.0,0.0,2.0,840.0
197,C2411,962,아파트,경상남도,국민임대,51.93,150,25.0,A,21586000.0,171480.0,0.0,2.0,840.0

### A로 채우기

In [24]:
test.loc[test['자격유형'].isnull() & test['단지코드'].isin(['C2411']) ,'자격유형'] = 'A'

In [25]:
test[test['자격유형'].isnull()]

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,지하철수,버정수,단지내주차면수
258,C2253,1161,아파트,강원도,영구임대,26.37,745,0.0,NaN,2249000.0,44770.0,0.0,2.0,173.0

In [26]:
test[test['단지코드'] =='C2253']

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,지하철수,버정수,단지내주차면수
258,C2253,1161,아파트,강원도,영구임대,26.37,745,0.0,NaN,2249000.0,44770.0,0.0,2.0,173.0
259,C2253,1161,아파트,강원도,영구임대,31.32,239,0.0,C,3731000.0,83020.0,0.0,2.0,173.0
260,C2253,1161,아파트,강원도,영구임대,31.32,149,0.0,C,3731000.0,83020.0,0.0,2.0,173.0
261,C2253,1161,상가,강원도,임대상가,13.77,1,0.0,D,0.0,0.0,0.0,2.0,173.0
262,C2253,1161,상가,강원도,임대상가,22.89,1,0.0,D,0.0,0.0,0.0,2.0,173.0
263,C2253,1161,상가,강원도,임대상가,22.91,1,0.0,D,0.0,0.0,0.0,2.0,173.0
264,C2253,1161,상가,강원도,임대상가,23.79,1,0.0,D,0.0,0.0,0.0,2.0,173.0
265,C2253,1161,상가,강원도,임대상가,23.79,1,0.0,D,0.0,0.0,0.0,2.0,173.0
266,C2253,1161,상가,강원도,임대상가,23.86,1,0.0,D,0.0,0.0,0.0,2.0,173.0
267,C2253,1161,상가,강원도,임대상가,23.86,1,0.0,D,0.0,0.0,0.0,2.0,173.0
268,C2253,1161,상가,강원도,임대상가,24.19,1,0.0,D,0.0,0.0,0.0,2.0,173.0
269,C2253,1161,상가,강원도,임대상가,27.75,1,0.0,D,0.0,0.0,0.0,2.0,173.0
270,C2253,1161,상가,강원도,임대상가,27.75,1,0.0,D,0.0,0.0,0.0,2.0,173.0
271,C2253,1161,상가,강원도,임대상가,27.75,1,0.0,D,0.0,0.0,0.0,2.0,173.0
272,C2253,1161,상가,강원도,임대상가,27.75,1,0.0,D,0.0,0.0,0.0,2.0,173.0
273,C2253,1161,상가,강원도,임대상가,27.75,1,0.0,D,0.0,0.0,0.0,2.0,173.0
274,C2253,1161,상가,강원도,임대상가,27.75,1,0.0,D,0.0,0.0,0.0,2.0,173.0
275,C2253,1161,상가,강원도,임대상가,28.19,1,0.0,D,0.0,0.0,0.0,2.0,173.0
276,C2253,1161,상가,강원도,임대상가,28.69,1,0.0,D,0.0,0.0,0.0,2.0,173.0
277,C2253,1161,상가,강원도,임대상가,28.69,1,0.0,D,0.0,0.0,0.0,2.0,173.0
278,C2253,1161,상가,강원도,임대상가,28.69,1,0.0,D,0.0,0.0,0.0,2.0,173.0
279,C2253,1161,상가,강원도,임대상가,28.69,1,0.0,D,0.0,0.0,0.0,2.0,173.0
280,C2253,1161,상가,강원도,임대상가,28.69,1,0.0,D,0.0,0.0,0.0,2.0,173.0
281,C2253,1161,상가,강원도,임대상가,28.93,1,0.0,D,0.0,0.0,0.0,2.0,173.0
282,C2253,1161,상가,강원도,임대상가,28.93,1,0.0,D,0.0,0.0,0.0,2.0,173.0
283,C2253,1161,상가,강원도,임대상가,42.35,1,0.0,D,0.0,0.0,0.0,2.0,173.0
284,C2253,1161,상가,강원도,임대상가,42.40,1,0.0,D,0.0,0.0,0.0,2.0,173.0
285,C2253,1161,상가,강원도,임대상가,55.17,1,0.0,D,0.0,0.0,0.0,2.0,173.0
286,C2253,1161,상가,강원도,임대상가,55.50,1,0.0,D,0.0,0.0,0.0,2.0,173.0
287,C2253,1161,상가,강원도,임대상가,82.92,1,0.0,D,0.0,0.0,0.0,2.0,173.0
288,C2253,1161,상가,강원도,임대상가,248.56,1,0.0,D,0.0,0.0,0.0,2.0,173.0

In [27]:
test.loc[test['자격유형'].isnull() & test['단지코드'].isin(['C2253']) ,'자격유형'] = 'C'

In [28]:
test[test['자격유형'].isnull()]

Empty DataFrame
Columns: [단지코드, 총세대수, 임대건물구분, 지역, 공급유형, 전용면적, 전용면적별세대수, 공가수, 자격유형, 임대보증금, 임대료, 지하철수, 버정수, 단지내주차면수]
Index: []

### 중복값 확인

In [29]:
train.shape, train.drop_duplicates().shape

((2869, 15), (2549, 15))

In [30]:
test.shape, test.drop_duplicates().shape

((1008, 14), (936, 14))

### 중복값 제거

In [31]:
train = train.drop_duplicates()
test = test.drop_duplicates()

In [32]:
train.shape, test.shape

((2549, 15), (936, 14))

In [33]:
train

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,지하철수,버정수,단지내주차면수,등록차량수
0,C2515,545,아파트,경상남도,국민임대,33.48,276,17.0,A,9216000.0,82940.0,0.0,3.0,624.0,205.0
1,C2515,545,아파트,경상남도,국민임대,39.60,60,17.0,A,12672000.0,107130.0,0.0,3.0,624.0,205.0
2,C2515,545,아파트,경상남도,국민임대,39.60,20,17.0,A,12672000.0,107130.0,0.0,3.0,624.0,205.0
3,C2515,545,아파트,경상남도,국민임대,46.90,38,17.0,A,18433000.0,149760.0,0.0,3.0,624.0,205.0
4,C2515,545,아파트,경상남도,국민임대,46.90,19,17.0,A,18433000.0,149760.0,0.0,3.0,624.0,205.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2864,C2532,239,아파트,강원도,국민임대,49.20,19,7.0,A,11346000.0,116090.0,0.0,1.0,166.0,146.0
2865,C2532,239,아파트,강원도,국민임대,51.08,34,7.0,A,14005000.0,142310.0,0.0,1.0,166.0,146.0
2866,C2532,239,아파트,강원도,국민임대,51.73,34,7.0,A,14005000.0,142310.0,0.0,1.0,166.0,146.0
2867,C2532,239,아파트,강원도,국민임대,51.96,114,7.0,A,14005000.0,142310.0,0.0,1.0,166.0,146.0
2868,C2532,239,아파트,강원도,국민임대,54.95,19,7.0,A,14830000.0,151030.0,0.0,1.0,166.0,146.0

### 라벨인코딩

In [34]:
train.자격유형.unique(),test.자격유형.unique()

(array(['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M',
        'N', 'O'], dtype=object),
 array(['H', 'A', 'E', 'C', 'D', 'G', 'I', 'J', 'K', 'L', 'M', 'N'],
       dtype=object))

In [35]:
mapping = { 'A':1, 'B':2, 'C':3, 'D':4, 'E':5,
            'F':6, 'G':7, 'H':8, 'I':9, 'J':10,
            'K':11, 'L':12, 'M':13, 'N':14, 'O':15  }
mapping2 = {'A':1, 'C':3, 'D':4, 'E':5,
             'G':7, 'H':8, 'I':9, 'J':10,
            'K':11, 'L':12, 'M':13, 'N':14 }
train['자격유형'] =train['자격유형'].map(mapping).astype(int)
test['자격유형'] =test['자격유형'].map(mapping2).astype(int)

<ipython-input-35-00333a4a7b8b>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train['자격유형'] =train['자격유형'].map(mapping).astype(int)
<ipython-input-35-00333a4a7b8b>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test['자격유형'] =test['자격유형'].map(mapping2).astype(int)

In [36]:
train.지역.unique(),test.지역.unique()

(array(['경상남도', '대전광역시', '경기도', '전라북도', '강원도', '광주광역시', '충청남도', '부산광역시',
        '제주특별자치도', '울산광역시', '충청북도', '전라남도', '경상북도', '대구광역시', '서울특별시',
        '세종특별자치시'], dtype=object),
 array(['경기도', '부산광역시', '전라북도', '경상남도', '충청남도', '대전광역시', '제주특별자치도', '강원도',
        '울산광역시', '경상북도', '충청북도', '광주광역시', '전라남도', '대구광역시', '세종특별자치시'],
       dtype=object))

In [37]:
map_region = {'경상북도':1, '경상남도':2, '대전광역시':3, '경기도':4, '전라북도':5,
              '강원도':6, '광주광역시':7, '충청남도':8, '부산광역시':9, '제주특별자치도':10,
            '울산광역시':11, '충청북도':12, '전라남도':13, '대구광역시':14, '서울특별시':15, '세종특별자치시':16}
train["지역"] = train['지역'].map(map_region).astype(int)
test["지역"] = test['지역'].map(map_region).astype(int)

<ipython-input-37-3d94aaf6a527>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train["지역"] = train['지역'].map(map_region).astype(int)
<ipython-input-37-3d94aaf6a527>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test["지역"] = test['지역'].map(map_region).astype(int)

In [38]:
train.공급유형.unique(),test.공급유형.unique()

(array(['국민임대', '공공임대(50년)', '영구임대', '임대상가', '공공임대(10년)', '공공임대(분납)',
        '장기전세', '공공분양', '행복주택', '공공임대(5년)'], dtype=object),
 array(['국민임대', '영구임대', '임대상가', '공공임대(50년)', '공공임대(10년)', '공공임대(분납)',
        '행복주택'], dtype=object))

In [39]:
map3 = {'국민임대':1, '공공임대(50년)':2, '영구임대':3, '임대상가':4, '공공임대(10년)':5,
              '공공임대(분납)':6, '장기전세':7, '공공분양':8, '행복주택':9, '공공임대(5년)':10}
train["공급유형"] = train['공급유형'].map(map3).astype(int)
test["공급유형"] = test['공급유형'].map(map3).astype(int)

<ipython-input-39-5eb444265aac>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train["공급유형"] = train['공급유형'].map(map3).astype(int)
<ipython-input-39-5eb444265aac>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test["공급유형"] = test['공급유형'].map(map3).astype(int)

In [40]:
train.임대건물구분.unique(),test.임대건물구분.unique()

(array(['아파트', '상가'], dtype=object), array(['아파트', '상가'], dtype=object))

In [41]:
map4 = {'아파트':1, '상가':2}
train["임대건물구분"] = train['임대건물구분'].map(map4).astype(int)
test["임대건물구분"] = test['임대건물구분'].map(map4).astype(int)

<ipython-input-41-940bbc2ceda5>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train["임대건물구분"] = train['임대건물구분'].map(map4).astype(int)
<ipython-input-41-940bbc2ceda5>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test["임대건물구분"] = test['임대건물구분'].map(map4).astype(int)

In [42]:
train

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,지하철수,버정수,단지내주차면수,등록차량수
0,C2515,545,1,2,1,33.48,276,17.0,1,9216000.0,82940.0,0.0,3.0,624.0,205.0
1,C2515,545,1,2,1,39.60,60,17.0,1,12672000.0,107130.0,0.0,3.0,624.0,205.0
2,C2515,545,1,2,1,39.60,20,17.0,1,12672000.0,107130.0,0.0,3.0,624.0,205.0
3,C2515,545,1,2,1,46.90,38,17.0,1,18433000.0,149760.0,0.0,3.0,624.0,205.0
4,C2515,545,1,2,1,46.90,19,17.0,1,18433000.0,149760.0,0.0,3.0,624.0,205.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2864,C2532,239,1,6,1,49.20,19,7.0,1,11346000.0,116090.0,0.0,1.0,166.0,146.0
2865,C2532,239,1,6,1,51.08,34,7.0,1,14005000.0,142310.0,0.0,1.0,166.0,146.0
2866,C2532,239,1,6,1,51.73,34,7.0,1,14005000.0,142310.0,0.0,1.0,166.0,146.0
2867,C2532,239,1,6,1,51.96,114,7.0,1,14005000.0,142310.0,0.0,1.0,166.0,146.0
2868,C2532,239,1,6,1,54.95,19,7.0,1,14830000.0,151030.0,0.0,1.0,166.0,146.0

In [47]:
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Lasso
from sklearn.linear_model import Ridge

In [118]:
#'총세대수', '전용면적', '전용면적별세대수','임대건물구분','지역',
#'공급유형', '공가수','지하철수','자격유형', '버정수', '임대보증금','임대료','단지내주차면수'
sel = [ '총세대수','전용면적별세대수', '전용면적','임대건물구분','지역','공급유형', '공가수',
       '지하철수','자격유형', '버정수', '임대보증금','임대료','단지내주차면수']

X_train = train[sel]
y_train = train['등록차량수']
X_test = test[sel]

### 선형회귀

In [119]:
model = LinearRegression()
model.fit(X_train, y_train)
pred = model.predict(X_test)

print("학습(score) :", model.score(X_train, y_train) ) # 결정계수

학습(score) : 0.7868979750984177

### 라쏘적용

In [115]:
model = Lasso()
model.fit(X_train, y_train)
pred = model.predict(X_test)

print("학습(score) :", model.score(X_train, y_train) ) # 결정계수

학습(score) : 0.7867065721610709

In [57]:
alpha_p = [0, 0.00001, 0.0001, 0.001, 0.01, 0.1, 1, 5, 10]

for p in alpha_p:
    lasso = Lasso(alpha=p).fit(X_train, y_train)
    tr_score = lasso.score(X_train, y_train)
    print("alpha : {} 학습 : {}".format(p,tr_score))
    print("유효한 feature 개수 : ", np.sum(lasso.coef_ !=0))

alpha : 0 학습 : 0.7868979750984177
유효한 feature 개수 :  13
alpha : 1e-05 학습 : 0.7868979750983967
유효한 feature 개수 :  13
alpha : 0.0001 학습 : 0.78689797509631
유효한 feature 개수 :  13
alpha : 0.001 학습 : 0.786897974887639
유효한 feature 개수 :  13
alpha : 0.01 학습 : 0.7868979540205444
유효한 feature 개수 :  13
alpha : 0.1 학습 : 0.7868958673112778
유효한 feature 개수 :  13
alpha : 1 학습 : 0.7866875520346357
유효한 feature 개수 :  13
alpha : 5 학습 : 0.784909875654063
유효한 feature 개수 :  12
alpha : 10 학습 : 0.7826526922436435
유효한 feature 개수 :  11

<ipython-input-57-94d9d9441cb8>:4: UserWarning: With alpha=0, this algorithm does not converge well. You are advised to use the LinearRegression estimator
  lasso = Lasso(alpha=p).fit(X_train, y_train)
C:\Users\wnsau\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: UserWarning: Coordinate descent with no regularization may lead to unexpected results and is discouraged.
  model = cd_fast.enet_coordinate_descent(
C:\Users\wnsau\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 50029882.38610606, tolerance: 46953.9249185563
  model = cd_fast.enet_coordinate_descent(

### 릿지적용

In [121]:
model = Ridge(alpha=0.0001)
model.fit(X_train, y_train)
pred = model.predict(X_test)

print("학습(score) :", model.score(X_train, y_train) ) # 결정계수

학습(score) : 0.7868979750984164

C:\Users\wnsau\anaconda3\lib\site-packages\sklearn\linear_model\_ridge.py:147: LinAlgWarning: Ill-conditioned matrix (rcond=7.95345e-17): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True,

In [59]:
alpha_p = [0, 0.00001, 0.0001, 0.001, 0.01, 0.1, 1, 5, 10]

for p in alpha_p:
    ridge = Ridge(alpha=p).fit(X_train, y_train)
    tr_score = ridge.score(X_train, y_train)
    print("alpha : {} 학습 : {}".format(p,tr_score))

alpha : 0 학습 : 0.7868979750984177
alpha : 1e-05 학습 : 0.7868979750984177
alpha : 0.0001 학습 : 0.7868979750984164
alpha : 0.001 학습 : 0.7868979750982819
alpha : 0.01 학습 : 0.7868979750848347
alpha : 0.1 학습 : 0.7868979737425942
alpha : 1 학습 : 0.7868978419597185
alpha : 5 학습 : 0.7868948977111072
alpha : 10 학습 : 0.7868867576767031

C:\Users\wnsau\anaconda3\lib\site-packages\sklearn\linear_model\_ridge.py:147: LinAlgWarning: Ill-conditioned matrix (rcond=7.95345e-17): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True,
C:\Users\wnsau\anaconda3\lib\site-packages\sklearn\linear_model\_ridge.py:147: LinAlgWarning: Ill-conditioned matrix (rcond=7.95345e-17): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True,
C:\Users\wnsau\anaconda3\lib\site-packages\sklearn\linear_model\_ridge.py:147: LinAlgWarning: Ill-conditioned matrix (rcond=7.95345e-17): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True,
C:\Users\wnsau\anaconda3\lib\site-packages\sklearn\linear_model\_ridge.py:147: LinAlgWarning: Ill-conditioned matrix (rcond=7.95354e-17): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True,
C:\Users\wnsau\anaconda3\lib\site-packages\sklearn\linear_model\_ridge.py:147: LinAlgWarning: Ill-conditioned matrix (rcond=7.95434e-17): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True,
C:\Users\wnsau\anaconda3\lib\site-packages\sklearn\linear_model\_ridge.py:147: LinAlgWarning: Ill-conditioned matrix (rcond=7.96242e-17): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True,
C:\Users\wnsau\anaconda3\lib\site-packages\sklearn\linear_model\_ridge.py:147: LinAlgWarning: Ill-conditioned matrix (rcond=8.04322e-17): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True,
C:\Users\wnsau\anaconda3\lib\site-packages\sklearn\linear_model\_ridge.py:147: LinAlgWarning: Ill-conditioned matrix (rcond=8.40235e-17): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True,
C:\Users\wnsau\anaconda3\lib\site-packages\sklearn\linear_model\_ridge.py:147: LinAlgWarning: Ill-conditioned matrix (rcond=8.85138e-17): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True,

In [61]:
pred

array([ 5.86590964e+02,  6.71599094e+02,  6.10582077e+02,  6.10537943e+02,
        6.29105236e+02,  6.29201978e+02,  6.28438105e+02,  6.29160801e+02,
        1.11495308e+03,  1.11681775e+03,  1.17744348e+03,  1.20118593e+03,
        1.20089395e+03,  1.13995928e+03,  1.21968487e+03,  1.15698779e+03,
        1.15852145e+03,  5.93846684e+02,  6.08291257e+02,  6.08732598e+02,
        6.08912628e+02,  6.26043801e+02,  6.25701761e+02,  6.37768059e+02,
        6.58003770e+02,  5.45984669e+02,  5.46928036e+02,  5.57030208e+02,
        5.63090472e+02,  1.00153460e+03,  1.00230143e+03,  1.04079414e+03,
        1.04074140e+03,  1.03989181e+03,  1.04041039e+03,  1.06348975e+03,
        1.06354518e+03,  1.59923165e+03,  1.60022467e+03,  1.54090885e+03,
        1.63940913e+03,  1.63948770e+03,  1.63801863e+03,  1.63927645e+03,
        1.63947506e+03,  1.59638230e+03,  1.65324345e+03,  1.65334732e+03,
        9.09449170e+02,  9.22061213e+02,  9.25558841e+02,  9.35087158e+02,
        9.34756152e+02,  9.50679466e+02,  3.98147492e+02,  3.45942981e+02,
        3.45611975e+02,  4.26415827e+02,  3.08157872e+02,  3.17122040e+02,
        3.37937462e+02,  2.69576872e+02,  2.74847172e+02,  2.72494218e+02,
        2.72658373e+02,  2.89175306e+02,  2.99249095e+02,  4.69194005e+02,
        4.74626113e+02,  4.87463835e+02,  4.87319052e+02,  4.92359696e+02,
        1.49390383e+02,  1.50102046e+02,  1.48198762e+02,  1.13635884e+02,
        1.56099993e+02,  1.18625121e+02,  5.94564386e+01,  5.93170489e+01,
        5.93453036e+01,  5.93603727e+01,  5.94470204e+01,  5.94639732e+01,
        5.97069633e+01,  5.98199820e+01,  6.25663356e+01,  6.25832884e+01,
        6.25851720e+01,  6.66105203e+01,  1.62190408e+02,  4.65035755e+02,
        4.97860200e+02,  4.97719045e+02,  4.97779729e+02,  5.19752582e+02,
        3.94511366e+02,  3.94561017e+02,  3.94351618e+02,  3.94588839e+02,
        3.94115013e+02,  3.94501187e+02,  3.94680833e+02,  3.94807719e+02,
        2.03317860e+02,  1.97541809e+02,  2.06386406e+02,  1.08698461e+02,
        1.13030843e+02,  1.08994193e+02,  1.09335132e+02,  1.09809811e+02,
        1.10005710e+02,  1.10271304e+02,  1.10817561e+02,  1.11218777e+02,
        1.11241381e+02,  1.12117275e+02,  1.12147414e+02,  1.12162483e+02,
        1.12185087e+02,  1.12891453e+02,  1.12919708e+02,  1.12934777e+02,
        1.13021425e+02,  1.13038377e+02,  1.13281368e+02,  1.13481034e+02,
        1.16140740e+02,  1.16157693e+02,  1.16159576e+02,  1.20184925e+02,
        1.82094667e+02,  2.15764812e+02,  2.69474456e+02,  2.70202668e+02,
        5.99077301e+02,  6.15979688e+02,  6.17079804e+02,  6.31231323e+02,
        4.18018475e+02,  4.38739237e+02,  4.54043154e+02,  1.87664299e+02,
        1.87013321e+02,  1.95138667e+02,  9.78960527e+01,  9.81917849e+01,
        9.85327245e+01,  9.90074029e+01,  9.92033019e+01,  9.94688958e+01,
        1.00015153e+02,  1.00438973e+02,  1.01314867e+02,  1.01345006e+02,
        1.01360075e+02,  1.01382679e+02,  1.02678626e+02,  1.06728462e+02,
        1.70698911e+02,  6.76861923e+02,  6.75371855e+02,  6.76256823e+02,
        6.60319831e+02,  7.04789397e+02,  2.80695709e+02,  2.81881813e+02,
        2.81390822e+02,  1.89602276e+02,  1.89898009e+02,  1.90238948e+02,
        1.90713627e+02,  1.90909526e+02,  1.91175120e+02,  1.91721376e+02,
        1.92145196e+02,  1.93021091e+02,  1.93051229e+02,  1.93066299e+02,
        1.93088902e+02,  1.94384850e+02,  1.98434685e+02,  2.62405135e+02,
        4.14299066e+02,  4.14099450e+02,  4.18902815e+02,  4.41464296e+02,
        4.51376822e+02,  4.74703207e+02,  4.12978537e+02,  4.37471951e+02,
        8.79519507e+01,  9.66123397e+01, -2.40883142e+00, -1.82301799e+00,
       -1.72506847e+00, -1.60074794e+00, -6.77762151e-01,  2.67208802e-02,
        9.45320810e-02,  9.42172091e-01,  1.02505245e+00,  3.69229301e+00,
        6.10712522e+00,  4.25349256e+01,  4.35050025e+01,  1.83976203e+02,
        2.01458826e+02,  2.01955335e+02,  1.04481032e+02,  1.06198916e+02,
        1.06202683e+02,  1.06368444e+02,  1.06381629e+02,  1.06443789e+02,
        1.07114367e+02,  1.07197247e+02,  1.07291429e+02,  1.07336637e+02,
        1.09864488e+02,  1.09873906e+02,  1.12279320e+02,  1.12341480e+02,
        1.17506433e+02,  1.48707120e+02,  4.56818965e+02,  4.55055949e+02,
        4.62382645e+02,  5.16299648e+02,  5.19394774e+02,  5.23288320e+02,
        4.02224705e+02,  4.26106321e+02,  9.01072843e+02,  9.00678191e+02,
        9.22314494e+02,  2.36083746e+02,  2.58133336e+02,  5.71840498e+02,
        5.73684645e+02,  5.85207001e+02,  4.08632442e+02,  4.09043137e+02,
        4.28649954e+02,  2.12951297e+02,  2.13591242e+02,  2.13795362e+02,
        2.13701577e+02,  2.24749001e+02,  2.25433080e+02,  2.25615133e+02,
        2.25543415e+02,  1.11562552e+02,  1.12602324e+02,  1.12704041e+02,
        1.13227694e+02,  1.13306807e+02,  1.13517775e+02,  1.14303255e+02,
        1.15177266e+02,  1.15224357e+02,  1.15676432e+02,  1.15845960e+02,
        1.18543339e+02,  1.54358955e+02,  3.71782570e+02,  3.72952123e+02,
        3.72959658e+02,  3.85878115e+02,  3.86043618e+02,  4.10556572e+02,
        5.08166723e+02,  5.09060439e+02,  5.30142648e+02,  5.30473653e+02,
        5.07510823e+02,  5.36045572e+02,  5.36387612e+02,  5.35973855e+02,
        5.61876124e+02,  5.61969909e+02,  7.49620332e+02,  7.50105807e+02,
        7.59393893e+02,  7.88535487e+02,  7.88888560e+02,  7.87867959e+02,
        8.14101234e+02,  8.14288804e+02,  2.95740375e+02,  2.96689527e+02,
        3.29588109e+02,  3.30167369e+02,  4.61730069e+02,  4.62833965e+02,
        4.76386354e+02,  4.76551857e+02,  4.94417052e+02,  3.56366137e+02,
        3.56526123e+02,  3.56697411e+02,  3.79517533e+02,  3.92144983e+02,
        2.51839636e+02,  2.52369245e+02,  2.71718711e+02,  2.72899298e+02,
        2.81821293e+02,  5.84757086e+02,  5.85504269e+02,  6.10511294e+02,
        6.10566462e+02,  6.09612062e+02,  6.28944614e+02,  6.29214936e+02,
        1.08249132e+03,  1.14399664e+03,  1.14406284e+03,  1.16891540e+03,
        1.16904780e+03,  1.10734630e+03,  1.12684436e+03,  1.12735190e+03,
        1.15222725e+03,  1.08088893e+03,  1.09127271e+03,  1.09498286e+03,
        1.09292222e+03,  1.09704559e+03,  4.60281485e+02,  4.60794679e+02,
        4.60614912e+02,  5.06324994e+02,  5.05371931e+02,  5.36294274e+02,
        5.36466367e+02,  5.36885641e+02,  5.49512582e+02,  5.49689118e+02,
        5.49369146e+02,  5.61796778e+02,  5.61934697e+02,  3.74919182e+02,
        3.75724629e+02,  3.82848242e+02,  3.83653690e+02,  3.05740042e+02,
        3.06236550e+02,  3.13708084e+02,  3.13851520e+02,  3.33242567e+02,
        3.33612190e+02,  7.05911744e+02,  7.07528156e+02,  7.33587235e+02,
        7.33995475e+02,  7.33784089e+02,  7.33916491e+02,  7.49813886e+02,
        7.50255227e+02,  7.78370764e+02,  2.96095240e+02,  2.96161441e+02,
        3.02606331e+02,  3.10999427e+02,  9.95967028e+02,  1.01743455e+03,
        1.01688288e+03,  1.01742352e+03,  1.01632017e+03,  1.01686081e+03,
        1.03190179e+03,  1.03323685e+03,  6.38233843e+02,  6.38967572e+02,
        6.54486830e+02,  6.54950238e+02,  6.54510915e+02,  6.54867750e+02,
        5.62489162e+02,  5.71794629e+02,  2.05614454e+02,  2.05779957e+02,
        2.19026670e+02,  4.73360307e+02,  4.73389909e+02,  4.73546530e+02,
        4.73112181e+02,  4.73691442e+02,  4.78010700e+02,  4.78727880e+02,
        5.06131014e+02,  5.06119980e+02,  5.06362718e+02,  5.16434659e+02,
        5.16487401e+02,  3.28291828e+02,  3.28380096e+02,  3.28540082e+02,
        3.28235984e+02,  3.50572032e+02,  3.50423079e+02,  3.61059300e+02,
        3.61070334e+02,  3.91145508e+02,  4.11466456e+02,  4.11714710e+02,
        4.11300953e+02,  4.11648509e+02,  4.41101756e+02,  2.11780621e+02,
        2.11940607e+02,  2.26881775e+02,  3.60750778e+02,  3.60957050e+02,
        3.61039802e+02,  3.76486790e+02,  3.76214177e+02,  3.76103842e+02,
        5.63434673e+02,  5.65717490e+02,  5.65516372e+02,  9.26495567e+02,
        9.26920358e+02,  9.25549372e+02,  9.26912013e+02,  9.52724091e+02,
        9.53375069e+02,  9.53308868e+02,  9.68054077e+02,  9.68418183e+02,
        9.91627614e+02,  3.76523085e+02,  3.77091312e+02,  3.90891497e+02,
        3.91388006e+02,  4.13391133e+02,  2.15310050e+02,  2.14852158e+02,
        2.20861416e+02,  3.64940488e+02,  3.64996193e+02,  3.64681737e+02,
        3.79857915e+02,  3.79909852e+02,  3.79970536e+02,  3.80127286e+02,
        3.88719780e+02,  3.88868732e+02,  5.11842580e+02,  5.12146002e+02,
        5.11262907e+02,  5.12184207e+02,  5.27274772e+02,  5.27262252e+02,
        5.28084250e+02,  9.30483579e+02,  9.31035255e+02,  9.39710225e+02,
        9.55904929e+02,  5.33609578e+02,  5.33857833e+02,  5.46481667e+02,
        5.47573986e+02,  4.32988754e+02,  4.33457679e+02,  4.33220459e+02,
        4.54813588e+02,  4.55889357e+02,  4.56005209e+02,  4.56087961e+02,
        6.49394532e+02,  6.50078611e+02,  6.53170027e+02,  6.62804688e+02,
        6.64432133e+02,  2.95626883e+02,  2.96090291e+02,  3.11338975e+02,
        3.11598263e+02,  5.74975497e+02,  5.74990566e+02,  5.75184055e+02,
        5.75349558e+02,  6.01460425e+02,  6.01481146e+02,  6.01657682e+02,
        6.01823185e+02,  6.21483674e+02,  6.21174735e+02,  8.15012037e+02,
        8.15875073e+02,  8.16018509e+02,  8.41426998e+02,  8.61556412e+02,
        8.61004736e+02,  8.89932118e+02,  9.57362311e+02,  9.70136902e+02,
        9.69805896e+02,  9.89894876e+02,  1.00605700e+03,  1.00627767e+03,
        5.19106981e+02,  5.18069830e+02,  5.19377705e+02,  6.41611150e+02,
        6.55811742e+02,  6.56418586e+02,  6.85420669e+02,  6.04719015e+02,
        6.77928528e+02,  6.03911952e+02,  6.05240011e+02,  6.99637148e+02,
        8.52764060e+02,  8.52108370e+02,  8.52820033e+02,  8.52069753e+02,
        8.52408696e+02,  8.98889890e+02,  6.81729629e+02,  6.81465630e+02,
        6.81746985e+02,  6.81018772e+02,  6.81539768e+02,  7.29240624e+02,
        1.17541664e+03,  1.17574765e+03,  1.19011214e+03,  1.19075975e+03,
        1.18740569e+03,  2.59018237e+02,  2.68136582e+02,  2.61012289e+02,
        2.60834003e+02,  2.61203626e+02,  2.96816921e+02,  2.96749105e+02,
        2.96793239e+02,  2.96704970e+02,  2.96605669e+02,  2.67878390e+02,
        2.87800596e+02,  2.88345007e+02,  2.72759988e+02,  3.38130048e+02,
        3.38163149e+02,  3.38378302e+02,  1.58885879e+02,  1.67549890e+02,
        1.93943955e+02,  2.94765100e+02,  3.02812699e+02,  3.03325814e+02,
        3.03513384e+02,  3.31774623e+02,  3.28168612e+02,  3.28411350e+02,
        3.33299349e+02,  3.44021878e+02,  3.44147819e+02,  3.44208504e+02,
        3.63680702e+02,  9.41594659e+02,  9.45004517e+02,  9.44861081e+02,
        9.61810654e+02,  9.67026285e+02,  7.98592290e+02,  8.00181118e+02,
        8.00369090e+02,  8.14697626e+02,  5.50221473e+02,  5.51192423e+02,
        5.56589026e+02,  5.71677545e+02,  5.71280338e+02,  5.71710646e+02,
        3.15648591e+02,  3.26841985e+02,  3.45241735e+02,  3.45023753e+02,
        5.97014028e+02,  5.96462352e+02,  5.97911372e+02,  6.14595435e+02,
        6.14313135e+02,  6.53490493e+02,  1.15581805e+03,  1.16235182e+03,
        1.16391858e+03,  1.16263142e+03,  1.17697438e+03,  1.17739366e+03,
        1.17680753e+03,  1.17752471e+03,  1.18994332e+03,  1.02854476e+03,
        1.04327320e+03,  1.04410072e+03,  1.04258333e+03,  1.05816818e+03,
        1.06802729e+03,  6.20889410e+02,  5.81515302e+02,  6.85900639e+02,
        6.86101529e+02,  6.25343398e+02,  6.85691941e+02,  6.47498134e+02,
        1.09183172e+03,  1.09126901e+03,  1.09784101e+03,  1.09602680e+03,
        1.09757702e+03,  1.09745403e+03,  1.11433786e+03,  1.11485092e+03,
        1.12840629e+03,  1.12868764e+03,  1.15271776e+03,  6.68678289e+02,
        6.69356851e+02,  6.69372049e+02,  6.69620303e+02,  6.85745411e+02,
        6.87190803e+02,  6.99815358e+02,  8.04628884e+02,  8.30309101e+02,
        8.30904911e+02,  8.29888346e+02,  7.55888222e+02,  7.63260086e+02,
        7.63650832e+02,  6.76596424e+02,  6.98495268e+02,  3.30304390e+02,
        3.10355410e+02,  3.10583610e+02,  3.12434393e+02,  3.12105533e+02,
        3.12833746e+02,  3.34557108e+02,  8.19778125e+02,  8.53513379e+02,
        8.55268094e+02,  7.14287816e+02,  7.24803839e+02,  7.25845860e+02,
        6.09572921e+02,  6.09845260e+02,  6.59857873e+02,  6.60943194e+02,
        9.83485998e+02,  1.00678504e+03,  1.00956010e+03,  5.87555273e+02,
        6.19532657e+02,  6.39427584e+02,  1.00302923e+03,  1.06348945e+03,
        1.02532055e+03,  1.02480198e+03,  1.02497340e+03,  1.05939023e+03,
        1.05886062e+03,  1.12022559e+03,  1.12010974e+03,  1.12013463e+03,
        1.05921126e+03,  1.12011390e+03,  1.08192396e+03,  1.08216670e+03,
        1.14252762e+03,  1.10168384e+03,  1.10178314e+03,  5.07475097e+02,
        5.12997281e+02,  5.13043299e+02,  5.45572767e+02,  5.46416832e+02,
        5.82095625e+02,  9.27102972e+02,  9.53160466e+02,  9.53469405e+02,
        9.52690060e+02,  9.52609192e+02,  9.86399624e+02,  9.86410658e+02,
        9.85931236e+02,  1.00700917e+03,  1.00711305e+03,  2.16524924e+02,
        2.30658831e+02,  2.30427127e+02,  2.30824603e+02,  2.42114703e+02,
        2.41818682e+02,  6.30777446e+02,  6.31566175e+02,  6.58227304e+02,
        5.65673674e+02,  5.66125806e+02,  5.74874922e+02,  1.11117247e+03,
        1.11049418e+03,  1.12191752e+03,  9.80120428e+02,  9.79277973e+02,
        9.90344735e+02,  1.02248558e+03,  1.03530219e+03,  9.09246429e+02,
        9.09329412e+02,  9.82949307e+02,  9.80427465e+02,  9.95394116e+02,
        1.03423924e+03,  1.04545694e+03,  7.82167445e+02,  7.82325950e+02,
        8.07095134e+02,  8.06968919e+02,  1.55612627e+02,  1.76438663e+02,
        1.76835870e+02,  2.02672391e+02,  1.39414597e+02,  1.39833871e+02,
        1.84286081e+02,  5.08729054e+02,  5.09589669e+02,  5.30525599e+02,
        5.31408281e+02,  5.43365505e+02,  4.45300394e+02,  4.45510031e+02,
        4.51216827e+02,  8.87010337e+02,  9.06712034e+02,  9.07593637e+02,
        9.08316468e+02,  9.08325886e+02,  9.08336919e+02,  1.29113831e+03,
        1.31496164e+03,  1.31013251e+03,  1.31151170e+03,  1.31195304e+03,
        5.29814819e+02,  5.30752669e+02,  5.45234264e+02,  5.65751286e+02,
        5.66501566e+02,  5.90309054e+02,  7.42260139e+02,  7.74202678e+02,
        7.74706722e+02,  7.73495186e+02,  8.00526132e+02,  7.58367568e+02,
        7.75076386e+02,  7.73736886e+02,  3.12795518e+02,  3.12939222e+02,
        3.40722070e+02,  3.41008942e+02,  3.51925654e+02,  7.49500213e+02,
        7.70764203e+02,  7.95676076e+02,  7.48994921e+02,  7.50105808e+02,
        2.11316992e+02,  2.27488054e+02,  2.28172133e+02,  2.26806394e+02,
        2.41604183e+02,  2.41871408e+02,  2.51837611e+02,  2.51983468e+02,
        3.37478072e+02,  3.36131982e+02,  3.45489709e+02,  3.45456609e+02,
        3.45335240e+02,  3.45445575e+02,  3.77698530e+02,  3.56055137e+02,
        3.55520011e+02,  3.56197225e+02,  3.56125508e+02,  5.53795205e+02,
        5.54611686e+02,  5.53684869e+02,  5.89831915e+02,  5.90637363e+02,
        6.15366523e+02,  1.33538643e+02,  1.33772499e+02,  1.45200613e+02,
        1.76968738e+02,  2.05553650e+02,  2.05867351e+02,  2.09115645e+01,
        2.09172154e+01,  5.12922547e+01,  5.12812212e+01,  7.74163371e+01,
        7.74615445e+01,  6.91365090e+02,  6.89562992e+02,  6.91504485e+02,
        6.91559647e+02,  5.41573259e+02,  5.42544210e+02,  5.46345144e+02,
        5.51372003e+02,  5.52210551e+02,  5.70984455e+02,  5.71646466e+02,
        5.71142396e+02,  5.69316961e+02,  2.47692149e+02,  2.48276926e+02,
        2.60371578e+02,  2.60559148e+02,  2.60481913e+02,  2.78454570e+02,
        2.79469655e+02,  2.59460703e+02,  2.59145738e+02,  2.77626788e+02,
        2.77361983e+02,  2.77586823e+02,  2.95423454e+02,  2.96397093e+02,
        2.59413851e+02,  2.80365973e+02,  2.80603194e+02,  2.85093221e+02,
        2.85424227e+02,  2.85461229e+02,  2.85461363e+02,  2.92291131e+02,
        4.26706668e+02,  4.45479638e+02,  4.45501706e+02,  4.44801211e+02,
        4.45088082e+02,  4.59494830e+02,  5.01008301e+02,  5.02525411e+02,
        5.02866485e+02,  5.18522400e+02,  5.19339187e+02,  5.33103123e+02,
        5.34944144e+02,  4.16183639e+02,  4.36945658e+02,  4.37762139e+02,
        4.55554860e+02,  4.57132655e+02,  1.82589383e+02,  1.82909355e+02,
        2.09700669e+02,  1.81411526e+02,  1.86401874e+02,  8.40385031e+01,
        1.03030129e+02,  1.02985995e+02,  1.04636182e+02,  1.21846700e+02,
        1.51719665e+02,  1.51679299e+02,  1.51679567e+02,  1.68266920e+02,
        1.68300021e+02,  1.68281855e+02,  1.68303923e+02,  1.68310244e+02,
        1.68315761e+02,  1.68337828e+02,  1.68343345e+02,  1.85857006e+02,
        1.85831440e+02,  1.85814889e+02,  1.85876245e+02,  1.85887278e+02,
        1.85585874e+02,  1.85894947e+02,  1.85873282e+02,  1.85895349e+02,
        3.00023927e+02,  3.00178397e+02,  2.99891525e+02,  3.00156330e+02,
        3.05666865e+02,  3.05953737e+02,  3.18592164e+02,  3.18614231e+02,
        2.07409705e+02,  2.15271640e+02,  2.15670266e+02,  2.15840342e+02,
        2.22992272e+02,  2.24076246e+02,  1.83787494e+02,  1.83434421e+02,
        2.04519181e+02,  2.24170796e+02,  3.56106387e+02,  3.56922868e+02,
        3.80488957e+02,  3.81812980e+02,  4.05965191e+02,  2.44751393e+01,
        2.62385041e+01,  1.69910304e+02,  1.69590868e+02,  1.70021176e+02,
        2.16341118e+02,  2.16098381e+02,  2.35995268e+02,  2.36447643e+02,
        2.10210610e+02,  2.11989033e+02,  2.12309005e+02,  2.13526603e+02,
       -1.04953174e+01, -1.00760434e+01,  5.06474065e+00,  1.54157608e+01])

In [62]:
test.shape, sub.shape, train.shape

((936, 14), (150, 2), (2549, 15))

In [63]:
test.columns

Index(['단지코드', '총세대수', '임대건물구분', '지역', '공급유형', '전용면적', '전용면적별세대수', '공가수',
       '자격유형', '임대보증금', '임대료', '지하철수', '버정수', '단지내주차면수'],
      dtype='object')

In [64]:
len(test['단지코드'].unique())

147

In [65]:
len(sub)

150

In [66]:
test['등록차량수'] = pred
test['코드별차량수평균'] = test.groupby('단지코드')['등록차량수'].transform(np.mean)
test_new = test.drop_duplicates(['단지코드'], keep='first').reset_index()
test_new

<ipython-input-66-35cc81c78d6d>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test['등록차량수'] = pred
<ipython-input-66-35cc81c78d6d>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test['코드별차량수평균'] = test.groupby('단지코드')['등록차량수'].transform(np.mean)

,index,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,지하철수,버정수,단지내주차면수,등록차량수,코드별차량수평균
0,0,C1072,754,1,4,1,39.79,116,14.0,8,22830000.0,189840.0,0.0,2.0,683.0,586.590964,624.402025
1,8,C1128,1354,1,4,1,39.79,368,9.0,8,22830000.0,189840.0,0.0,3.0,1216.0,1114.953082,1165.160843
2,17,C1456,619,1,9,1,33.40,82,18.0,1,19706000.0,156200.0,0.0,16.0,547.0,593.846684,620.912570
3,26,C1840,593,1,5,1,39.57,253,7.0,1,14418000.0,108130.0,0.0,3.0,543.0,545.984669,553.258346
4,30,C1332,1297,1,4,1,39.99,282,11.0,8,28598000.0,203050.0,0.0,2.0,1112.0,1001.534597,1036.588588
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142,982,C2456,349,1,10,1,26.44,24,17.0,8,6992000.0,117000.0,0.0,4.0,270.0,183.787494,198.977973
143,986,C1266,596,1,12,1,26.94,164,35.0,8,8084000.0,149910.0,0.0,1.0,593.0,356.106387,376.259277
144,991,C2152,120,1,6,3,24.83,66,9.0,3,0.0,0.0,0.0,1.0,40.0,24.475139,25.356822
145,993,C1267,675,1,2,1,24.87,28,38.0,8,6882000.0,104370.0,0.0,1.0,467.0,169.910304,205.676364
146,1004,C2189,382,1,5,1,29.19,96,45.0,8,6872000.0,106400.0,0.0,2.0,300.0,-10.495317,-0.022715

In [67]:
sub_df = test_new[ ['단지코드', '코드별차량수평균']]
sub_df.columns = ['code', 'num']
sub_df

      code          num
0    C1072   624.402025
1    C1128  1165.160843
2    C1456   620.912570
3    C1840   553.258346
4    C1332  1036.588588
..     ...          ...
142  C2456   198.977973
143  C1266   376.259277
144  C2152    25.356822
145  C1267   205.676364
146  C2189    -0.022715

[147 rows x 2 columns]

In [68]:
sub_df = sub_df.append({'code':'C2675','num': 0}, ignore_index=True)
sub_df = sub_df.append({'code':'C2335','num': 0}, ignore_index=True)
sub_df = sub_df.append({'code':'C1327','num': 0}, ignore_index=True)
sub_df.tail()

      code         num
145  C1267  205.676364
146  C2189   -0.022715
147  C2675    0.000000
148  C2335    0.000000
149  C1327    0.000000

In [69]:
sub_df.to_csv('0719_three_model.csv', index=False)

### 선형모델 점수 : 117.1701040267

### 릿지회귀모델(알파=0) 점수 : 117.0118424957